<head>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css" />

</head>
<body>
	{% include 'nav.html' %}

<main>
<div class="container">
<h1 class="title"> {{title}} </h1>

<button class="button">i am a button</button>

	{% include 'grid.html' %}

	{% include 'map.html' %}
	</div>
</main>
{% include 'footer.html' %}
</body>
